<div class="container">
  <h4>Audit Log</h4>
  <table class="table">
    <tr>
      <th>Service</th>
      <th>Action</th>
      <th>Date</th>
    </tr>

    <% @authorization_audits.each do |auth_audit| %>
      <tr>
        <td><%= auth_audit.credential.name %></td>
        <td><%= auth_audit.action %></td>
        <td><%= auth_audit.date %></td>
      </tr>
    <% end %>
  </table>
</div>
