<table>
  <tr>
    <th>Service</th>
    <th>Username</th>
    <th>Password</th>
  </tr>

  <% @authorizations.each do |authorization| %>
    <tr>
      <td><%= authorization.credential.name %></td>
      <td><%= authorization.credential.username %></td>
      <td><%= authorization.credential.password %></td>
    </tr>
  <% end %>
</table>
