<!DOCTYPE html>
<html>
<head>
  <title>Flypass</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="top" class="navbar navbar-static-top bs-docs-nav bg-header" role="banner">
    <div class="container">
      <div class="navbar-header">
        <img src="/assets/icon.png" class="icon-header"/>
        <h3 class="heading-header">FLYPASS</h3>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
